.skills {
  text-align: center;
}

.title2 {
  font-size: 3rem;
  border-bottom: 0.5rem solid #c0d0ec;
}

/* SkillList.js */
.skillList_Container {
  width: 50vw;
  display:flex;
}
.skill_lang {
  margin: 2vh 0;
  width: 5vw;
}
.skill_Container {
  height : 3vh;
  width: 40vw;
  background-color: #e7e7e7;
  border-radius: 3vh;
  margin: 1.5vh;
}
.skill_Container span {
  display: block;
  height : 3vh;
  border-radius: 3vh;
  background: linear-gradient(to left, rgb(255, 166, 166), rgb(126, 197, 255));
  text-align: right;
  line-height: 3vh;
}