@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: bold;
  font-style: bold;
}

body {
  margin: 0;
  overflow-y: hidden;
  font-family: 'GangwonEdu_OTFBoldA';
}

.outer {
  height: 100vh;
  overflow-y: auto;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
  display: none;
}

.inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: gray;
}
