.aboutme{
  text-align: center;
}

.title1{
  font-size: 3rem;
  border-bottom: 0.5rem solid #aed3f7;
}

.container {
  display: flex;
  width : 80vw;
	flex-wrap: wrap;
  justify-content: space-between;
  -webkit-box-pack: justify;
}
.item {
  width : 50%;
  font-size: 1.5rem;
}